
* {
    margin: 0;
    padding: 0;
}
html{
    background-color: black;
    height: 100vh;
    width: 100%;
}
.main {
    text-align: center;
    background-image: url(assets/imgs/bg.jpg);
    height: 670px;
    width: 100vw;
    background-position: center center;
    position: relative;
}

.box {
    /* background-color: black;
    opacity: 0.44;
    height: 80vh;
    width: 100%;
    position: absolute;
     */
    height: 670px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;


}

nav {

    /* font-family: 'Martel Sans', sans-serif;
    max-width: 80vh;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
     */
    /* font-family: 'Martel Sans', sans-serif;
    max-width: 80vh;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed; 
    top: 0; 
    left: 446px;
    width: 100vw;
    z-index: 2; */

    /* max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    z-index: 50;
     */
    max-width: 60vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100px;
    z-index: 100;
    position: absolute;
    top: 0;
    margin-left: 160px;
    width: 100%;
}

.navigation .buttons {

    
    font-family: 'Martel Sans', sans-serif;
    padding: 6px 15px;
    background-color: transparent;
    font-size: 14px;

}

.navigation #btn1 {

    width: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(77, 74, 74);
    border-radius: 8px;
    color: white;
    text-align: center;
    margin: 12px;


}

.navigation #btn2 {

    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    color: white;
    text-align: center;

}

.navigation #btn2:hover {

    border: 1px solid red;
    background-color: rgb(203, 3, 3);
    border-radius: 5px;
    color: white;
    transition-duration: 0.5s;

}

.bottonss {
    margin: -238px;
}

.headings {
    font-family: 'Martel Sans', sans-serif;
    color: white;
    font-weight: 1000;
    position: relative;
    justify-content: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.headings> :nth-child(1) {
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
}

.headings> :nth-child(2) {
    text-align: center;
    font-size: 48px;
}

.headings> :nth-child(3) {
    text-align: center;
    font-size: 23px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    margin: 14px;
}

.headings> :nth-child(4) {
    text-align: center;
    font-size: 23px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin: 8px;
}

.inputs {
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inputs{
    display: flex;
    flex-direction: row;

}
.inputs #emailaddress {

    border: 2px solid rgb(170, 164, 164);
    color: white;
    border: 1px solid rgb(77, 74, 74);
    background-color: rgba(0, 0, 0, 0.436);
    margin-top: 12px;
    padding: 20px 20px;
    text-align: left;
    font-size: 17px;

}

.inputs #emailaddress::placeholder{
    color: rgb(174, 170, 170);
}


.inputs #getstarted{
    font-family: 'Martel Sans', sans-serif;
    padding: 20px 20px;
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 13px;
    margin-left: 7px;
}
.inputs #getstarted:hover{
    background-color: rgb(203, 3, 3);
    transition-duration: 0.5s;
}
.linespacing{
    width: 100%;
    padding: 4px;
    background-color: rgb(47, 47, 47);
    
}
.main2{
    display: flex;
    padding: 100px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.main2 div video{
    position: absolute;

    z-index: -1;
    top: 99px;
    right: 75px;
}
.main2> :nth-child(2){
    position: relative;
}
.main #headings{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main2 #firstline{
    display: flex;

   

    color: white;

    font-family: 'Martel Sans', sans-serif;
    font-size: 48px;
    font-weight: 900;
  
    line-height: 1.5;
    
}
.main2 #firstline:hover{
    display: flex;

   

    color: white;

    font-family: 'Martel Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
  transition-duration: 0.5s;
    line-height: 1.5;
    text-shadow: 0 0 20px #fff, 0 0 70px #fff;
    
}

.main2 #secondline{
    color: white;

    font-family: 'Martel Sans', sans-serif;
    margin-top: 10px;
    font-size: 23px;
    font-weight: 200;

}
.main3{
    position: relative;
    display: flex;
    padding: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}

.main3 #firstline{    
    color: #fff;

    
    font-size: 48px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
    

}

.main3 #firstline:hover{
    font-size: 50px;
   
    text-shadow: 0 0 10px #fff,  0 0 70px #ffffff;
    transition-duration: 0.5s;
}

.main3 #headings #secondline{
    
    color: #fff;
    margin: auto;
    font-size: 23px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 300;
}




.main4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 110px;
}

.main4 #headings> :nth-child(1){
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
}
.main4 #headings> :nth-child(1):hover{
    font-size: 50px;
    color: #fff;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    text-shadow: 0 0 10px #fff,  0 0 70px #ffffff;
    transition-duration: 0.5s;

}
.main4 #headings #secondline{
    font-size: 23px;  
    font-weight: 200;
    font-family: 'Martel Sans', sans-serif;
    color: #fff;
}

.main4 #imgs :nth-child(1){
    position: relative;
    
}
.main4 #imgs video{
    position: absolute;
    top: 168px;
    right: 265px;
    z-index: -1;
    max-width: 55vh;

}
.main5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    padding: 110px;

}
.main5 #imgs img{
    width: 500px;
    position: relative;
    margin-right: 150px;
}

.main5 #headings #firstline{
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    line-height: 1.5;
}
.main5 #headings #firstline:hover{
    color: white;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    line-height: 1.5;
    text-shadow: 0 0 10px #fff,  0 0 70px #ffffff;
    transition-duration: 0.5s;

}
.main5 #headings #secondline{
    color: white;
    font-size: 23px;
    font-weight: 200;
    font-family: 'Martel Sans', sans-serif;
}


.main6{
    background-color: black;
    color: #fff;
    display: flex;
    margin: auto;
    margin: 34px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
.main6 h2{
    text-align: center;
    font-weight: 900;
    font-family: 'Martel Sans', sans-serif;
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 30px;
    
}



.faq .exp{
    display: flex;
    padding: 34px;
    width: 900px;
    list-style: none;
    font-weight: 200;
    font-family: 'Martel Sans', sans-serif;
    background-color: rgb(57, 57, 57);
    margin: 5px;
    justify-content: space-between;
   
}
.faq .exp:hover{
    background-color: #230e0e;
    transition: ease-in-out;
    transition-duration: 0.5s;

}



